<h1>
  Restaurants
  <span class="pull-right">
    <%= link_to new_restaurant_path, class: 'btn btn-default' do %>
      <i class="icon-plus-sign"></i> Add a Restaurant
    <%- end %>
  </span>
</h1>

<ul>
<%- @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant %></li>
<%- end %>
</ul>
